<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">ARCON</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment (ionChange)="cambio($event)">
    <ion-segment-button value="iniciar">
      <ion-icon name="home"></ion-icon>
      <ion-label>Iniciar Sesion</ion-label>
    </ion-segment-button>
    <ion-segment-button value="registrar">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Registrarse</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>