* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: rgba(233, 44, 37, 0.9);
  position: fixed;
  width: 100%;
  z-index: 10;
}

footer {
  text-align: center;
  font-size: smaller;
  margin: 5%;
}

h1 {
  font-family: fantasy;
  text-align: center;
}

#agr {
  font-family: fantasy;
  text-align: justify;
  margin: 5%;
  margin-block: 10;
}

#formularioContacto {
  width: 60%;
}

.descarga{
  display: flex;
  justify-content: center;
  align-items: center;
}


#desc {
  display: none;
}

#descp {
  display: none;
}

#qrd {
  width: 200px;
  height: 200px;
}

#google{
  width: 250px;
  height: 90px;
}

@media (max-width: 952px) {
  #qrd {
    display: none;
  }
  #qrp {
    display: none;
  }

  #desc {
    display: block;
  }
  #descp {
    display: block;
  }
}
