ion-item{
    font-size: 14px;

    &.activate {
        color: var(--ion-color-primary);
    }

}

h4{
    margin-top: 5px;
    font-weight: bold;
}

ion-avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.empty-icon{
    font-size: 100px;
    
}

ion-menu{
    --width: 254px;
    --min-width: 254px;
    outline: none;
}

