<ion-content>
  <form [formGroup]="formPerfil" (keyup.enter)="guardarPerfil()">
    <ion-item>
      <ion-label position="stacked">Rut: </ion-label>
      <ion-input type="text" formControlName="rut" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input type="text" formControlName="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido:</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Direccion:</ion-label>
      <ion-input type="text" formControlName="direccion" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo:</ion-label>
      <ion-input type="text" formControlName="correo" required></ion-input>
    </ion-item>
    <!-- Agrega más campos según tus necesidades -->
    <ion-button expand="full" type="submit" (click)="guardarPerfil()">Guardar Perfil</ion-button>
  </form>
</ion-content>