<app-header [showMenu]="true" [darkModel]="true" title="Perfil" ></app-header>

<ion-content class="ion-padding-top ion-text-center">

  <ion-avatar>
    <img *ngIf="user()?.imagen" [src]="user()?.imagen" />
    <ion-icon *ngIf="!user()?.imagen" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>

  <ion-button class="photo-btn" (click)="takeImage()" size="small" shape="round">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>


  <ion-list *ngIf="info">
    <ion-item button >
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label >Nombre: {{info.name}}</ion-label>
      <ion-icon (click)="presentAlert('name')" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>Correo: {{info.email}}</ion-label>
      <ion-icon (click)="presentAlert('email')" slot="end" name="create"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-item button detail>
    <ion-icon slot="start" name="Document-outline"></ion-icon>
    <ion-label (click) = "enviarCorreoTerminos()">Terminos & condiciones</ion-label>
  </ion-item>

</ion-content>